<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Manual</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
</head>


<body>
<!-- Sinal menor que < = &lt; e maior que > = &gt;. -->
    <div class="display-page">
        <header>
            <div class="header-class">
                <img src="../assets/pc.png" alt="Icone de Manual">
                <p>Manuais</p>
                <p>Projetos</p>
                <p>Quem sou</p>
            </div>
        </header>

        <nav id="nav-id">
            <div class="nav-class">
                <p style="height:5000px;"></p>
            </div>
        </nav>

        <main id="main-id">
            <div class="main-class">
                <h1>Como trocar o usuario:</h1>
                <div>
                    <p>$ &nbsp sudo su</p>
                    <p>&nbsp &nbsp &nbsp &nbsp &nbsp ou</p>
                    <p>$ &nbsp su usuario</p>
                </div>
                <h1>Setar dono do diretorio</h1>
                <p>$ &nbsp chown -R usuario:grupo Caminho_Diretorio</p>
                <h1>Navegação pelos diretorios</h1>
                <div>
                    <p >/etc/apt $ &nbsp cd ..</p>
                    <p >/etc $</p>
                    <p >/etc $ &nbsp cd apt</p>
                    <p >/etc/apt $ &nbsp</p>
                </div>
                <h1>Permissão dentro de diretorios</h1>
                <p>$ &nbsp chmod 777 Caminho_Diretorio // Permite a comunicação serial (USB) de PC e microcontroladores, no ubuntu a pasta é “/dev/ttyACM0”</p>
                <h1>Gerenciador de pacotes APT</h1>
                <div>
                    <p>$ &nbsp apt search nvidia //procura pacotes envolvidos com nvidia</p>
                    <p>$ &nbsp sudo apt-get install "EX:pacote"</p>
                    <p>$ &nbsp Sudo dpkg -i package_file.deb // instala apenas o .deb</p>
                    <p>$ &nbsp sudo dpkg -i *.deb // instala todos .deb na pasta</p>
                    <p>$ &nbsp sudo apt install package_file.deb // instala o .deb com dependencias</p>
                    <p>$ &nbsp sudo apt --fix-broken install //repara pacotes</p>
                </div>
                <h1>Listar dispositivos USB</h1>
                <p>$ &nbsp lsusb</p>
                <h1>Listar dispositivos PCI</h1>
                <p>$ &nbsp lspci</p>
                <h1>Gerenciamento de Disco</h1>
                <p>fdisk -l lista //todos os discos
                fdisk /dev/sda //entra dentro do disco sda podendo particionar como quiser
                mkfs.ext4 /dev/sda1 faz a partição ser ext4
                para montar ela apenas uma vez:  mount -t ext4 /dev/sda1 /mnt/hdd
                para desmontar:  unmont /mnt/hdd
                verificar o UUID da partição:  blkid /dev/sda1
                para ficar montado toda vez que entrar no sistema adicionar no /etc/fstab
                #&lt;file system&gt; 				          &lt;dir&gt;   &lt;type&gt; &lt;options&gt; &lt;dump&gt; &lt;pass&gt;
                UUID=2e79c063-54f1-4359-a203-0382182afc99 /mnt/hdd ext4     defaults        0  	0</p>
                
                <p style="height:500px;"></p>
            </div>
        </main>

        <footer>
            <div class="footer-class">
            </div>
        </footer>
        <script type="text/javascript" src="../js/script.js"></script>
    </div>
</body>
</html
